<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#054A91">
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-512/popcorn-1751514-1489363.png" type="image/png">
    <link rel="stylesheet" href="/styles/CSS/main-style.css">
    <link rel="stylesheet" href="/styles/CSS/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;1,300&family=Montserrat:ital,wght@1,500;1,700&family=Work+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>AB Movies</title>
</head>
<body id="intro">

    <div id="interface">

        <div class="page-design">
            <img id="logo" src="/images/utils/main-logo.png" alt="Logo">
            <small id="legend">Os melhores filmes estão aqui!</small>
            <img id="img-logo" src="/images/utils/main-image.png" alt="Img-logo">
        </div>

        <div class="button-redirect">
            <a id="main-button" href="/all-movies">
            Explorar Lançamentos
            </a>
        </div>

    </div>

</body>
</html>
